<div class="scanner">
  <zxing-scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>

</div>


<section class="results" *ngIf="qrResult">
  <div>
    <small>Result</small>
    <strong>{{ qrResult }}</strong>
  </div>
  <!-- <button mat-icon-button (click)="clearResult()">&times;</button> -->
</section>

<!-- popup -->  

<!-- <div class="popUp" [ngStyle]="{'display': popup}">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
  </div>
  <div>
    <p>verified</p>
  </div>
</div>

<button id="show" >Show Dialog</button> 

   -->


   <!-- Button trigger modal -->
<button type="button" id="popButton" #click class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> -->
        <div>
          <img  src="../assets/78619-verified.gif" height="180" alt="logo">
        </div>
        <div class="d-flex justify-content-center p-0">
          <p class="fs-1 fw-bold">VERIFIED</p>
         </div>
      </div>
      
      <div class="modal-body d-flex justify-content-center">
        <img src="../assets/Sumeet_Group_Logo_2.svg" height="120" alt="logo">
      </div>
    </div>
  </div>
</div>
