
<div class="title text-center mt-4">
  <img src="../assets/30th.svg" height="50" alt="30th">
  <h2 class="mt-2">Foundation Day</h2>
</div>

<header>
  <div>
    <select (change)="onDeviceSelectChange($any($event.target).value)">
      <option value="" [selected]="!currentDevice">No Device Selected</option>
      <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
        </select>
  </div>
</header>

<div class="scanner">
  <zxing-scanner *ngIf="hidden" #scanner [device]="currentDevice" [enable]=true (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
</div>



<!-- Button trigger modal -->
<button type="button" id="popButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <button type="button" (click)="scannerEvent()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div>
          <img  src="../assets/78619-verified.gif" height="180" alt="logo">
        </div>
        <div class="d-flex justify-content-center p-0">
          <p class="fs-1 fw-bold">VERIFIED</p>
         </div>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <img src="../assets/Sumeet_Group_Logo_2.svg" height="120" alt="logo">
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <img class="me-3" src="../assets/Sumeet_Group_Logo_2.svg" height="90" alt="logo">
  <img src="../assets/logo.svg" height="90" alt="logo">
</div>
