:host zxing-scanner::ng-deep video{
  /* padding: 0.5rem;
  border: 2px dotted black; */
  min-height: 60vh;
  width: 90vw;
  object-fit: contain;
}


.scanner{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  }


  /* pop up css */

  