
<div class="title text-center mt-4 d-flex flex-column">
  <img src="../assets/30th.svg" height="50" alt="30th">
  <img class="mt-2 mb-1" src="../assets/Asset_2.svg" height="25" alt="30th">
</div>

<div id="div1"></div>
<div class="scanner" id="div2">
  <zxing-scanner *ngIf="hidden" #scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>

</div>


<div class="logo text-center">
  <img class="me-3" src="../assets/Sumeet_Group_Logo_2.svg" height="90" alt="logo">
  <img src="../assets/logo.svg" height="90" alt="logo">
</div>




<button type="button" id="popButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">modal
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <button type="button" (click)="scannerEvent()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div>
          <img  src="../assets/78619-verified.gif" height="180" alt="logo">
        </div>
        <div class="d-flex justify-content-center p-0">
          <p class="fs-1 fw-bold">VERIFIED</p>
         </div>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <img src="../assets/Sumeet_Group_Logo_2.svg" height="120" alt="logo">
      </div>
    </div>
  </div>
</div>






<button type="button" id="denyButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">modal
</button>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <button type="button" (click)="scannerEvent()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div>
          <img  src="../assets/deny.gif" height="180" alt="logo">
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column p-0">
          <p class="fs-1 fw-bold m-0">DENIED</p>
          <p class="">Please Try Again!</p>
         </div>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <img src="../assets/Sumeet_Group_Logo_2.svg" height="120" alt="logo">
      </div>
    </div>
  </div>
</div>



